{
    "COOKIE_SECRET": "",
    "PORT": "3000",
    "OPENBADGER_SYSTEM": "badgekit",
    "OPENBADGER_URL": "http://localhost:8080",
    "OPENBADGER_SECRET": "",
    "DATABASE_DRIVER": "mysql",
    "DATABASE_HOST": "localhost",
    "DATABASE_USER": "root",
    "DATABASE_PASSWORD": "",
    "DATABASE_DATABASE": "badgekit",
    "PERSONA_AUDIENCE": "http://localhost:3000",
    "API_SECRET": "",
    "BRANDING": "edX",
    "ACCESS_LIST": ["^you@yourdomain.com$"]
}
